.main {
    user-select: none;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    width: auto;
    background-color: #49ff18;
    justify-content: flex-end;
    z-index: 5;
}

.text{
    text-align: center;
}

.user-interface {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 60%;
  height: 15vh;
  display: flex;
  user-select: none;
  outline: none;
  z-index: 10;
}

.user-interface-bg {
  position: absolute;
  border-radius: 7vh 7vh 0vh 0vh;
  background-color: black;
  opacity: 0.15;
  align-self: center;
  width: 95%;
  max-width: 80rem;
  height: 15vh;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6); 
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
  user-select: none;
  outline: none;
  z-index: 9;
}

button.user-button:disabled {
  opacity: 0.3;
  &:hover {
    background-color: #33b211;
  }
}

.counter {
  width: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.player-hand {
  z-index: 14;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2vh;
}

.card img {
  z-index: 12;
  width: 20vh;
}

@keyframes cardAnimation {
  0% {bottom: 100px;}

  100% {bottom: 0px;}
}

.card {
  position: relative;
  right: 7.5vh;
  width: 4vh;
  animation-name: cardAnimation;
  animation-duration: 1s;
}

.result-box {
  display: flex;
  flex-direction: column;
  border-radius: 3vh;
  position: absolute;
  top: 40%;
  z-index: 15;
  align-self: center;
  width: 25vh;
  min-width: 8rem;
  height: 20vh;
  min-height: 6rem;
  border: 2px solid white;
  background-color: #3ed914; 
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

.result-box-message{
  margin-top: 3.2vh;
  margin-bottom: 3vh;
  font-size: clamp(1.2rem, 3.5vh, 2.5rem);
  font-weight: 600;
  color: white;
}

.two-buttons {
  display: flex;
  justify-content: center;
  margin: 0 0.6rem;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;

  @keyframes fadeIn {
    0% {opacity: 0}
  
    100% {opacity: 1}
  } 
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes fadeOut {
    0% {opacity: 1}
  
    100% {opacity: 0}
  } 
}

.result-box .user-button {
  margin-top: 1vh;
  width: 60%;
  max-width: 9.5rem;
}

.two-buttons .user-button {
  min-width: 3rem;
  margin: 1vh 0.3rem;
}

.croupier-hand {
  z-index: 13;
  justify-content: center;
  flex-direction: row;
  display: flex;
  height: 30vh;
  margin: 2vh;
}

.croupier-score-bg {
  margin-bottom: 0.5vh;
  border-radius: 0vh 0vh 7vh 7vh;
  background-color: black;
  opacity: 0.15;
  align-self: center;
  width: 50%;
  max-width: 20rem;
  height: 10vh;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6); 
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
  user-select: none;
  outline: none;
  z-index: 9;
}

.croupier-score {
  position: absolute;
  bottom: 81vh;
  color: white;
  justify-content: space-evenly;
  align-self: center;
  width: 60%;
  height: 9vh;
  display: flex;
  user-select: none;
  outline: none;
  z-index: 10;
}

@media screen and (max-height: 800px) {
  .result-box .user-button {
    margin-top: 0.5vh;
    font-size: 0.9rem;
  }

  .result-box-message {
    margin-bottom: 2.5vh;
  }
}

@media screen and (max-height: 600px) {
  .result-box-message {
    margin-bottom: 1.2vh; 
  }
}