.card img {
    z-index: 12;
    width: 20vh;
  }
  
  @keyframes card-animation {
    0% {bottom: 100px;}
    
    100% {bottom: 0px;}
  }
  
  .card {
    position: relative;
    right: 7.5vh;
    width: 4vh;
    animation-name: card-animation;
    animation-iteration-count: 1;
    animation-duration: 1s;
  }

  .player-hand-one .card:nth-child(1) {
    animation-name: none;
  }

  .player-hand-two .card:nth-child(1) {
    animation-name: none;
  }
  
  .hidden:nth-child(1) img{
    content: url('../../assets/card_reverse.png');
}

@media screen and (max-width: 620px) {
  .card img {
    width: 16vh;
  }

  .card {
    top: 3vh;
    right: 6.5vh;
    width: 3vh;
    animation-name: card-animation2;
  }

  @keyframes card-animation2 {
    0% {top: -25px;}
    
    100% {bottom: 0px;}
  }
}
  