.card img {
    z-index: 9;
    width: 20vh;
  }
  
  @keyframes card-animation {
    0% {
      transform: translate(150vh, -200vh);
      rotate: 15deg;
    }

    100% {
      rotate: 0deg;
    }
  }
  
  .card {
    overflow: hidden;
    z-index: 9;
    position: fixed;
    width: auto;
    animation-name: card-animation;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .card:nth-child(1) {
    transform: translateX(-3vh);
  }

  .card:nth-child(2) {
    transform: translateX(1vh);
  }

  .card:nth-child(3) {
    transform: translateX(5vh);
  }

  .card:nth-child(4) {
    transform: translateX(9vh);
  }

  .card:nth-child(5) {
    transform: translateX(13vh);
  }

  .card:nth-child(6) {
    transform: translateX(17vh);
  }

  .card:nth-child(7) {
    transform: translateX(21vh);
  }

  .card:nth-child(8) {
    transform: translateX(25vh);
  }

  .card:nth-child(9) {
    transform: translateX(29vh);
  }

  .player-hand-one .card:nth-child(1) {
    animation-name: none;
  }

  .player-hand-two .card:nth-child(1) {
    animation-name: none;
  }
  
  .hidden:nth-child(1) img{
    content: url('../../assets/card_reverse.png');
}

@media screen and (max-width: 620px) {

  .card img {
    width: 18vh;
  }

  .card:nth-child(1) {
    transform: translateX(-2vh);
  }

  .card:nth-child(2) {
    transform: translateX(1vh);
  }

  .card:nth-child(3) {
    transform: translateX(4vh);
  }

  .card:nth-child(4) {
    transform: translateX(7vh);
  }

  .card:nth-child(5) {
    transform: translateX(10vh);
  }

  .card:nth-child(6) {
    transform: translateX(13vh);
  }

  .card:nth-child(7) {
    transform: translateX(16vh);
  }

  .card:nth-child(8) {
    transform: translateX(19vh);
  }

  .card:nth-child(9) {
    transform: translateX(22vh);
  }

}
  