.header {
    background-color: black;
    height: 10vh;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.6);
    z-index: 10;
    position: relative;
}

.logo{
    font-weight: 600;
    align-self: center;
    margin: 0px 10px 1vh 2vh;
    font-size: 4.5vh;
    color: white;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #49ff18,
    0 0 82px #49ff18,
    0 0 92px #49ff18,
    0 0 102px #49ff18,
    0 0 151px #49ff18;
    user-select: none;
    letter-spacing: 2px;
    //text-shadow: 0 0 15px #49ff18, 0 0 10px #49ff18;
    //text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}