.header {
    background-color: black;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.6);
    z-index: 10;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 46px;
    font-family: 'Lobster', cursive;
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(4,250,24,0.52),
    0 0 21px rgba(4,250,24,0.92),
    0 0 34px rgba(4, 250, 24, 0.78),
    0 0 54px rgba(24, 123, 230, 0.92);
} 

